.header {
    background-color: #000000;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 50px
}
button, input[type="button"] {
    background-color: #bbe6cb;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}
.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
p {
    font-size: 2pc;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .centered {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-40%, -60%);
    transform: translate(-40%, -60%);
  }
  .bottom {
    margin: 0;
    position: absolute;
    top: 115%;
    left: 50%;
    -ms-transform: translate(-40%, -60%);
    transform: translate(-40%, -60%);
  }
  .info {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-40%, -60%);
    transform: translate(-40%, -60%);
  }
  .scorebar {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5%;
    -ms-transform: translate(-40%, -60%);
    transform: translate(-40%, -60%);
  }